// Copyright 2013 The Servo Project Developers. See the COPYRIGHT
// file at the top-level directory of this distribution.
//
// Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
// http://www.apache.org/licenses/LICENSE-2.0> or the MIT license
// <LICENSE-MIT or http://opensource.org/licenses/MIT>, at your
// option. This file may not be copied, modified, or distributed
// except according to those terms.

#[link(name = "wapcaplet",
       vers = "0.1")];
#[crate_type = "lib"];

extern mod std;

use core::libc::size_t;
use core::ptr::{null, to_mut_unsafe_ptr};
use core::cast::transmute;
use core::libc::*;
use ll::*;

pub mod ll;

fn require_ok(code: lwc_error) {
    match code {
        lwc_error_ok => (),
        e => fail!(fmt!("lwc error: %?", e))
    }
}

pub struct LwcString {
    priv string: *lwc_string,
}

impl Drop for LwcString {
    fn finalize(&self) {
        unsafe {
            rust_lwc_string_unref(self.string);
        }
    }
}

pub fn from_rust_string(s: &str) -> LwcString {
    unsafe {
        let mut interned_string = null();
        do str::as_c_str(s) |cs| {
            let code = lwc_intern_string(cs,
                                         s.len() as size_t,
                                         to_mut_unsafe_ptr(&mut interned_string));
            require_ok(code);
        }

       assert!(interned_string.is_not_null());

        LwcString {
            string: interned_string
        }
    }
}

pub fn from_lwc_string(s: *lwc_string) -> LwcString {
    unsafe {
        rust_lwc_string_ref(s);
        LwcString {
            string: s
        }
    }
}

pub impl<'self> LwcString {
    fn len(&self) -> uint {
        unsafe {
            (*self.string).len as uint
        }
    }

    fn clone(&self) -> LwcString {
        from_lwc_string(self.string)
    }

    fn raw_reffed(&self) -> *lwc_string {
        unsafe {
            rust_lwc_string_ref(self.string);
            self.string
        }
    }

    fn to_str_slice(&'self self) -> &'self str {
        unsafe {
            let p: *u8 = transmute(self.string.offset(1));
            do str::raw::buf_as_slice(p, self.len()) |slice| {
                transmute(slice)
            }
        }
    }
}

impl ToStr for LwcString {
    fn to_str(&self) -> ~str {
        unsafe {
            // The string is located immediately after the handle
            let p: *c_char = transmute(self.string.offset(1));
            str::raw::from_c_str_len(p, self.len())
        }
    }
}

#[test]
fn smoke_test() {
    let s1 = from_rust_string("test");
    let s2 = from_lwc_string(s1.string);
    debug!("%?", s1.len());
    debug!("%?", s2.len());
    assert!(s2.len() == 4);
    let s3 = s2.to_str();
    assert!(s3 == ~"test");
}

#[test]
fn multithreading_test() {
    for uint::range(0, 100) |i| {
        for iter::repeat(50) {
            do task::spawn {
                let s = vec::from_elem(i + 1, 0).to_str();
                let s = from_rust_string(s);
                let _t = s.clone();
            }
        }
    }
}
